
html(lang="en")
    head
        meta(charset="utf-8")
        title Resume | Tran Huu Thinh
        meta(name="description" content="Tran Huu Thinh")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
        link(rel="icon", href="images/favicon.ico", type="image/x-icon")
        meta(property="og:image", itemprop="thumbnailUrl", content="http://www.thietkewebtaidanang.com/images/tran-huu-thinh.png")
        link(rel="stylesheet", href="./css/bootstrap.css")
        link(rel="stylesheet", href="./css/animate.css")
        link(rel="stylesheet", href="./css/fontastic.css")
        link(rel="stylesheet", href="./css/fontawesome.css")
        link(rel="stylesheet", href="./css/lity.css")
        link(rel="stylesheet", href="./css/owl.carousel.css")
        link(rel="stylesheet", href="./css/sweetalert.css")
        link(rel="stylesheet", href="./css/style.css")
        link(href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600%7CRaleway:300,400,500,600,700,800", rel="stylesheet")
        //script(src="https://translate.google.com/translate_a/element.js?cb=TECB_1E07F158C6FA4460B352973E9693B329&amp;client=tee&amp;hl=vi")  
    body.goog-te-banner
        #loader-wrapper(style='display: none;')
            .world
                img(src='images/loader.svg', alt='')
        header.header-area
           .container
                nav.navbar.navbar-expand-lg 
                    #logo_home
                        a(href="") Resume
                    .navbar-collapse.collapse#menu
                        #menu_scroll.navbar-nav.menu
                            li
                                a(href="#home").scroll Home
                            li
                                a(href="#about").scroll About
                            li
                                a(href="#experience").scroll Experience
                            li
                                a(href="#services").scroll Services
                            li
                                a(href="#project").scroll Project
                            li
                                a(href="#clients").scroll Clients
                            li
                                a(href="#contact").scroll Contact
                    a.btn(href="https://www.topcv.vn/xem-cv/eded5a6b92e7b4e23c7cba7028eda1dd", target="_blank") CV Online
        .home-area.parallax_img#home
            //jQuery-Plugin-For-Water-Ripple-Animation-ripples
            .water-effect.jquery-ripples
            .container.h-100
                .row.h-100.align-items-center
                    .col-12.col-md-6.col-lg-6.home-content.text-left
                        h1.greet Hello, my name is 
                            strong Tran Huu Thinh
                        .skills.cd-headline.letters.scale
                            .containero
                                .loading
                                    span.im I'm a
                                    span.loading_letter D
                                    span.loading_letter e
                                    span.loading_letter v
                                    span.loading_letter e
                                    span.loading_letter l
                                    span.loading_letter o
                                    span.loading_letter p
                                    span.loading_letter e
                                    span.loading_letter r
                        p.description
                            | With over four-year extensive experience in creating and designing Websites, Digital Marketing and many more.
                        .button-area
                            a.btn(href="https://www.topcv.vn/xem-cv/eded5a6b92e7b4e23c7cba7028eda1dd", target="_blank") CV Online
                .image-item.row.h-100.align-items-center
                    img(src="images/big-profile.png")
        #about.single-section.about-area
            .container
                .row
                    // About image
                    .col-sm-12.col-lg-6
                        .about-img
                            img(src='images/about-image.png', alt='')
                    // about content
                    .col-sm-12.col-lg-6
                        .about-content
                            // Heading section
                            .section-heading
                                h2.section-title About Me
                                h6.about-role I am a Full-Stack Web Developer
                            // Describtion
                            p 
                                |- Passionate about programming since I was a student. <br>
                                |- Being a calm person, adapting quickly to a new environment, not afraid of difficulties and excitement in finding solutions to problems.
                            p
                                strong CAREER GOALS <br>
                                | - Short-term: Have a stable job, become an excellent employee, accumulate more experience, train skills to handle work efficiently, accurately and quickly. <br>
                                | - Long-term: Opportunity to be a senior employee.
                            // Describtion ends!
                            hr
                            // about details
                            ul.list-inline.about-info
                                li
                                    span Name:
                                    p Tran Huu Thinh
                                li
                                    span Email:
                                    p
                                        a(href='mailto:tranhuuthinh555@gmail.com') tranhuuthinh555@gmail.com
                                li
                                    span Age:
                                    p 25
                                li
                                    span From:
                                    p Da Nang, Vietnam
                            // about details ends!
        #experience.single-section.silver-bg.experience-area
            .container
                .row
                    .col-lg-7.col-sm-12
                        // experience content
                        .exp-content
                            h5.subtitle Having 4 years Experience
                            h3
                                | Amazing 
                                span experience
                                |  with those companies
                            p
                                |- Enhance user experience by optimized UI, UX.<br>
                                |- Fix bugs and adding new functionality to websites.<br>
                                |- Discuss directly with customers to find out the detail requirements.<br>
                                |- Arrange processes, schedules of Design, Developer, Tester, closely monitor to ensure the quality and deliver products on time.<br>
                                |- Server management, hosting, domain.
                            // experience content ends!
                    .col-lg-5.col-sm-12
                        .row
                            .col-lg-6.col-sm-6
                                // company name area
                                .exp-block
                                    a(href="https://danaweb.vn/", target="_blank", title="Danaweb")
                                        img.img-icon(src='images/danaweb.png', alt='')
                                    h4 
                                        a(href="https://danaweb.vn/", target="_blank", title="Danaweb") Danaweb
                                    h6 2016 - 2018
                            // company name area
                            .col-lg-6.col-sm-6
                                .exp-block
                                    a(href="https://olalaweb.vn/", target="_blank", title="Olalaweb")
                                        img.img-icon(src='images/olala.png', alt='')
                                    h4 
                                        a(href="https://olalaweb.vn/", target="_blank", title="Olalaweb") OlalaWeb
                                    h6 2018 - Present
                            // company name area
        #services.single-section.services-area.parallax_img(style='background-position: 0px 154.4px;')
            .container
                .row
                    .col-12
                        // Heading section
                        .section-heading
                            h2.section-title Services
                            p.section-description Always learning and experiencing a lot to gain new knowledge
                            // Heading section ends!
                .row
                    // services item
                    .col-lg-4.col-sm-6
                        .single-service
                            // icon
                            span.icon-display
                            // icon ends!
                            .service-body
                                h6.service-title Web Design
                                p.service-description
                                | Professional interface, seo standard web, responsive...
                    // services item
                    .col-lg-4.col-sm-6
                        .single-service
                            // icon
                            span.icon-pen
                            // icon ends!
                            .service-body
                                h6.service-title Graphic Design
                                p.service-description
                                | Design brand identity, banner, poster, backdrop.
                        // services item
                    .col-lg-4.col-sm-6
                        .single-service
                            // icon
                            span.icon-sound
                            // icon ends!
                            .service-body
                                h6.service-title Digital Marketing
                                p.service-description
                                | SEO-SEM, Email Marketing, Adword, Social media.
                        // services item
        #project.single-section.silver-bg.portfolio-area
            .container
                .row
                    .col-md-12.col-lg-12
                        .section-heading.mb-1
                            h2.section-title My Project
                            p.section-description Typical website projects I have completed for clients
                    // portfolio list
                    .col-md-12.col-lg-12
                        .works-filter-wrap.mb-5
                            .row
                                ul.col-lg-12.col-md-12.list-inline.works-filter
                                    li.list-inline-item
                                        a(href='#company') Company
                                    li.list-inline-item
                                        a(href='#restaurant') Restaurant
                                    li.list-inline-item
                                        a(href='#hotel') Hotel
                                    li.list-inline-item
                                        a(href='#estate') Estate
                                    li.list-inline-item
                                        a(href='#travel') Travel
                                    li.list-inline-item
                                        a(href='#other') Other
                        .works-container.row#company
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Medical
                                    .tab_img
                                        img(src='images/project-10.png', alt='')
                                    .overlay-content
                                        h6.overlay-title 
                                            a(href='http://thammydaihocdanang.com', target="_blank") Medical Center – University of Danang
                                        .overlay-icons
                                            a(href='http://thammydaihocdanang.com', target="_blank")
                                                span.icon-link
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Company
                                    .tab_img
                                        img(src='images/project-1.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='http://coidesign.vn', target="_blank") Coi Design
                                        .overlay-icons
                                            a(href='http://coidesign.vn', target="_blank")
                                                span.icon-link
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Company
                                    .tab_img
                                        img(src='images/project-17.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='https://olalaweb.vn', target="_blank") OLALA Technolory Solutions
                                        .overlay-icons
                                            a(href='https://olalaweb.vn', target="_blank")
                                                span.icon-link
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Company
                                    .tab_img
                                        img(src='images/project-5.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='http://viethuongceramic.vn', target="_blank") Viet Huong Ceramic
                                        .overlay-icons
                                            a(href='http://viethuongceramic.vn', target="_blank")
                                                span.icon-link
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Company
                                    .tab_img
                                        img(src='images/project-21.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='https://dongphucvietnam.vn', target="_blank") Viet Nam Uniform
                                        .overlay-icons
                                            a(href='https://dongphucvietnam.vn', target="_blank")
                                                span.icon-link
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Education
                                    .tab_img
                                        img(src='images/project-9.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='http://upup.edu.vn', target="_blank") UpUp English Center
                                        .overlay-icons
                                            a(href='http://upup.edu.vn', target="_blank")
                                                span.icon-link
                        .works-container.row#restaurant
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Restaurant
                                    .tab_img
                                        img(src='images/project-14.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='http://www.balewell45garden.com', target="_blank") 45 Garden Restaurant
                                        .overlay-icons
                                            a(href='http://www.balewell45garden.com', target="_blank")
                                                span.icon-link
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Cf-Restau
                                    .tab_img
                                        img(src='images/project-16.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='http://thegardenhouse.com.vn', target="_blank") The Garden House
                                        .overlay-icons
                                            a(href='http://thegardenhouse.com.vn', target="_blank")
                                                span.icon-link
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Restaurant
                                    .tab_img
                                        img(src='images/project-8.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='https://phen.vn', target="_blank") Phen Restaurant
                                        .overlay-icons
                                            a(href='https://phen.vn', target="_blank")
                                                span.icon-link
                        .works-container.row#hotel
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Hotel
                                    .tab_img
                                        img(src='images/project-3.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='http://goldcoastquangbinh.vn', target="_blank") Gold Coast Quang Binh
                                        .overlay-icons
                                            a(href='http://goldcoastquangbinh.vn', target="_blank")
                                                span.icon-link
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Hotel
                                    .tab_img
                                        img(src='images/project-12.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='http://hoiansilverbellvilla.com', target="_blank") Hoi An Silverbell Villa
                                        .overlay-icons
                                            a(href='http://hoiansilverbellvilla.com', target="_blank")
                                                span.icon-link
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Hotel
                                    .tab_img
                                        img(src='images/project-13.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='http://parisdelihotel.com', target="_blank") Paris Deli Hotel
                                        .overlay-icons
                                            a(href='http://parisdelihotel.com', target="_blank")
                                                span.icon-link
                        .works-container.row#estate
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Estate
                                    .tab_img
                                        img(src='images/project-11.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='https://datnhavn.com', target="_blank") Vietnam Real Estate
                                        .overlay-icons
                                            a(href='https://datnhavn.com', target="_blank")
                                                span.icon-link
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Estate
                                    .tab_img
                                        img(src='images/project-19.png', alt='')
                                    .overlay-content
                                        h6.overlay-title 
                                            a(href='http://golfviewapartmentdanang.vn', target="_blank") Golf View Da Nang
                                        .overlay-icons
                                            a(href='http://golfviewapartmentdanang.vn', target="_blank")
                                                span.icon-link
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Estate
                                    .tab_img
                                        img(src='images/project-20.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='http://vienduongreal.com', target="_blank") Vien duong real
                                        .overlay-icons
                                            a(href='http://vienduongreal.com', target="_blank")
                                                span.icon-link
                        .works-container.row#travel
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Travel
                                    .tab_img
                                        img(src='images/project-7.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='http://huyenthoaiviet.com', target="_blank") Viet Legend
                                        .overlay-icons
                                            a(href='http://huyenthoaiviet.com', target="_blank")
                                                span.icon-link
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Travel
                                    .tab_img
                                        img(src='images/project-6.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='http://duytuantravel.com', target="_blank") Duy Tuan Travel
                                        .overlay-icons
                                            a(href='http://duytuantravel.com', target="_blank")
                                                span.icon-link
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Travel
                                    .tab_img
                                        img(src='images/project-22.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='http://weflyvn.com/khach-san', target="_blank") Weflyvn
                                        .overlay-icons
                                            a(href='http://weflyvn.com/khach-san', target="_blank")
                                                span.icon-link
                        .works-container.row#other
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Wedding
                                    .tab_img
                                        img(src='images/project-2.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='http://huyquyen.com', target="_blank") Wedding HUY ♥️ QUYEN
                                        .overlay-icons
                                            a(href='http://huyquyen.com', target="_blank")
                                                span.icon-link
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Furniture
                                    .tab_img
                                        img(src='images/project-15.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='http://kientrucrom.com', target="_blank") Rom Architecture
                                        .overlay-icons
                                            a(href='http://kientrucrom.com', target="_blank")
                                                span.icon-link
                            .col-lg-4.col-sm-6.works-item
                                .item-overlay
                                    .category Company
                                    .tab_img
                                        img(src='images/project-18.png', alt='')
                                    .overlay-content
                                        h6.overlay-title
                                            a(href='https://godere.vn', target="_blank") Godere Coffee Roasters
                                        .overlay-icons
                                            a(href='https://godere.vn', target="_blank")
                                                span.icon-link
        #clients.single-section.clients-area
            .container
                .row
                    .col-md-12.col-lg-6
                        .section-heading
                            h2.section-title What our clients say?
                            p.section-description With enough data, the numbers speak for themselves.
                        .owl-carousel.testimonial-carousel.owl-loaded.owl-drag
                            .owl-stage-outer
                                .owl-stage
                                    .owl-item
                                        .testimonial-item
                                            p.testimonial-description
                                                |  Website design is very professional and enthusiastic, I will continue to use other services
                                            .testimonial-detail
                                                img.img-item(src='images/client-02.jpg', alt='')
                                                .caption
                                                .name Ms.Trinh
                                                .designation
                                                    | Hoi An Silverbell Villa 
                                                    a(href='http://hoiansilverbellvilla.com', target="_blank") www.hoiansilverbellvilla.com
                                                .rating
                                                    span.icon-star.checked
                                                    span.icon-star.checked
                                                    span.icon-star.checked
                                                    span.icon-star.checked
                                                    span.icon-star.checked
                                                    span.icon-star.checked
                                    .owl-item
                                        .testimonial-item
                                            p.testimonial-description
                                                | Good service, enthusiastic staff, very satisfied with the product.
                                            .testimonial-detail
                                                img.img-item(src='images/client-01.jpg', alt='')
                                                .caption
                                                .name Mr.Cuong
                                                .designation
                                                    | Second Homes 
                                                    a(href='http://golfviewapartmentdanang.vn', target="_blank") www.golfviewapartmentdanang.vn
                                                .rating
                                                    span.icon-star.checked
                                                    span.icon-star.checked
                                                    span.icon-star.checked
                                                    span.icon-star.checked
                                                    span.icon-star.checked
                                    .owl-item
                                        .testimonial-item
                                            p.testimonial-description
                                                | Website design service is very good and very beautiful in Da Nang.
                                            .testimonial-detail
                                                img.img-item(src='images/client-03.jpg', alt='')
                                                .caption
                                                .name Ms.Chi
                                                .designation
                                                    | UpUp English Center 
                                                    a(href='http://upup.edu.vn', target="_blank") www.upup.edu.vn
                                                .rating
                                                    span.icon-star.checked
                                                    span.icon-star.checked
                                                    span.icon-star.checked
                                                    span.icon-star.checked
                                                    span.icon-star.checked
                           
                    .col-md-12.col-lg-6
                        .section-heading
                            h2.section-title Let the numbers speak!
                            p.section-description With enough data, the numbers speak for themselves.
                        .row
                            // counter box
                            .col-lg-6.col-sm-6.counter-area
                                .icon-box
                                    span.icon-world
                                .counter
                                    kbd 100
                                    | + 
                                    .description  Complete the projects
                            .col-lg-6.col-sm-6.counter-area
                                .icon-box
                                    span.icon-user
                                .counter
                                    kbd 150
                                    | + 
                                    .description Free consultation support
                            .col-lg-6.col-sm-6.counter-area
                                .icon-box
                                    span.icon-star
                                .counter
                                    kbd 100
                                    | % 
                                    .description Satisfaction of our customers
                            .col-lg-6.col-sm-6.counter-area
                                .icon-box
                                    span.icon-world
                                .counter
                                    kbd 5
                                    | + 
                                    .description Covering provinces and cities
        footer.single-section#contact
            .container
                .row
                    .col-md-6.col-sm-12.text-sm-left.text-center.text-md-left
                        .footer-logo-holder
                            a(href='')
                                img(src='images/logo.png', alt='')
                        .footer-about-txt
                            .col-md-12.col-lg-8
                                .row
                                    p Email: tranhuuthinh555@gmail.com
                                    p Address: Da nang, Vietnam
                                    p Hotline: (+84)905 665 695
                    .col-md-6.col-sm-12.text-center.text-sm-right.text-md-right.align-self-center
                        ul.footer-social
                            li
                                a.hvr-grow(href='https://www.facebook.com/tranhuuthinh95', target='_blank', title='Facebook')
                                    i.fab.fa-facebook-f
                            li
                                a.hvr-grow(href='https://www.youtube.com/thuthuatonlines', target='_blank', title='Youtube')
                                    i.fab.fa-youtube
                            li
                                a.hvr-grow(href='https://www.instagram.com/thinh.coi.555', target='_blank', title='Instagram')
                                    i.fab.fa-instagram
                            li
                                a.hvr-grow(href='https://twitter.com/TC03430382', target='_blank', title='Twitter')
                                    i.fab.fa-twitter
                        h6.copy-txt Copyright &copy; 2020 Tran Huu Thinh.
        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src='js/jquery-3.3.1.js')
        // Include all compiled plugins (below), or include individual files as needed
        // Bootstrap JS
        script(src='js/bootstrap.js')
        // Wow js file
        script(src='js/wow.js')
        // core custom js
        script(src='js/headline.js')
        // isotope
        script(src='js/isotope.js')
        // lity
        script(src='js/lity.js')
        // carousel
        script(src='js/owl.carousel.js')
        // countimator
        script(src='js/jquery.countimator.js')
        // water effect
        script(src='js/jquery.ripples.js')
        // form validation
        script(src='js/jquery.validate.js')
        // ajax form
        script(src='js/jquery.form.js')
        // Sweet Alert
        script(src='js/sweetalert.js')
        // core custom js
        script(src='js/custom.js')


        

